@{
    ViewData["Title"] = "Update Information List";
}
@model Information
<a asp-action="Index" class="btn btn-secondary">Go Back</a>
<h1 class="bg-info text-black">Update Information Name</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-danger">Update</button>
</form>

